.wrapper {
  padding: 2rem;

  .contact {
    background-color: gray;
    width: 100%;
    height: 100%;
    @include flex(center, center);
    flex-direction: column;

    &__form {
      h3 {
        text-align: center;
        color: white;
        padding-top: 2rem;
      }

      &__item {
        @include flex(center, center);
        flex-direction: column;
        margin: 2rem 0;

        input {
          margin-bottom: 2rem;
          width: 400px;
          height: 40px;
          border: none;
          outline: none;
          padding-left: 1rem;

          @include mobile {
            width: 300px;
          }
        }

        textarea {
          width: 400px;
          padding-left: 1rem;
          margin-bottom: 2rem;
          outline: none;

          @include mobile {
            width: 300px;
          }
        }
      }
    }

    &__support {
      h3 {
        margin: 1rem 0;
      }

      text-align: center;
      color: white;
    }
  }
}
