footer {
  // padding: 70px 0;
  box-shadow: $box-shadow;
  font-size: 1.1rem;
  padding-bottom: 20px;

  &__logo {
    height: 38px;
  }

  &__about {
    p {
      margin-bottom: 2rem;
    }
  }

  &__title {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
    text-decoration: underline;
  }

  &__content {
    p {
      margin-bottom: 1.25rem;
    }
  }
}
