.products {
  @include mobile {
    margin-left: 20px;
  }

  &__image {
    width: 70%;
    padding-top: 2rem;
    margin: auto;
    @include tablet {
      margin-left: 4rem;
    }

    @include mobile {
      transform: translateX(-2rem);
    }
  }
  &__title {
    font-size: 2.5rem;
    @include mobile {
      font-size: 2rem;
      margin-bottom: 2rem;
    }
  }

  &__item {
    @include flex(center, space-between);
    margin-top: 2rem;

    @include tablet {
      margin: 0 3rem;
      margin-right: 4rem;
    }

    @include mobile {
    }

    &__title {
      font-size: 1.5rem;
      font-weight: 600;

      @include mobile {
        font-size: 1.4rem;
      }
    }

    &__list {
      @include flex(center, flex-end);

      &__item {
        @include flex(center, center);
        width: 40px;
        height: 40px;
        border: 1px solid $text-second-color;
        border-radius: 50%;
        margin-left: 8rem;
        cursor: pointer;
        &.active {
          border-color: $main-color;
          transform: scale(1.1);
        }

        &:hover {
          border-color: $main-color;
        }

        @include tablet {
          width: 35px;
          height: 35px;
        }

        @include mobile {
          width: 20px;
          height: 20px;
          margin-left: 2rem;
        }
      }
    }

    &__input {
      text-align: center;
      // @include mobile {
      width: 50%;
      // text-align: center;
      // }
    }

    &:last-child {
      @include mobile {
        margin-top: 2rem;
      }
    }
  }
}
